*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'poppins' , sans-serif;
}
h1{
    font-size: 2.5rem;
    font-size: 700;
}


h2{
    font-size: 1.8rem;
    font-size: 600;
}

h3{
    font-size: 1.4rem;
    font-size: 800;
}
h4{
    font-size: 1.1rem;
    font-size: 600;
}


h5{
    font-size: 1rem;
    font-size: 400;
    color: #1d1d1d;
}
h6{
     color: #d8d8d8;
}

button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    /* background-color: #3a3833; */
    background-color: rgb(153, 52, 69);
}


.logo{
    height: 10vh;
    width: 7%;
    margin-left: 50px;
    /* margin-top: -5px;
    border: 3px solid red;
    border-radius: 5vh; */
    border-radius: 5vh;
}


.navbar{
    font-size: 16px;
 }

 .navbar-light  .navbar-nav .nav-link{
     padding: 0 25px;
      color: black;
   transition: .1s ease;

    }


    .navbar-light  .navbar-nav .nav-link:hover, 
    .navbar-light  .navbar-nav .nav-link
    {
        color: coral;
      
   
       }

.navbar i{
    font-size: 1.5rem;
    padding: 0 20px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.navbar i:hover{
    color: cornflowerblue;
}

#home span{
    color: coral;
}
#home{
    height: 100vh;
}

.dev{
    /* background-image: url("./img/device.jpg");
    height: 70vh;
    width:  100%;
    background-size: cover; */
    /* position: top 60px center; */
    height: 70vh;
    width:  100%;
    background-size: cover;
}